* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

main {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0 35px;
}

main section {
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 5%;
    width: 60%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 8%;
    text-align: center;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

.carousel-title {
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 2rem;
    color: white;
}

main section p {
    color: white;
    font-size: larger;
    padding-bottom: 3%;
}

.character img {
    max-width: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 85%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 1));
    z-index: -1;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.arrow-left, .arrow-right {
    height: 30px;
    width: 30px;
    padding: 2%;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

.arrow-left {
    left: -50px;
}

.arrow-right {
    right: -50px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .card {
    height: 360px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    border-radius: 8px;
    padding-bottom: 15px;
    flex-direction: column;
    padding: 20px;
}

.card span {
    margin-top: auto;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.card h2 {
    font-weight: 700;
}

.card span {
    font-size: 1.1rem;
}

.card span img {
    transform: translateY(30%);
}

footer {
    margin-top: auto;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

footer a, p {
    margin: 15px;
}

@media (max-width: 1200px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media (max-width: 800px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media(max-width: 600px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}